# Node.js modules and dependencies
node_modules/

# Environment files
.env
.env.local

# Logs
logs/
*.log
npm-debug.log*

# Build outputs
dist/
build/

# OS-specific files
.DS_Store
Thumbs.db

# Editor/IDE settings
.vscode/
.idea/
*.swp

# Temporary files
*.tmp
*.bak
